.footer {
  z-index: 10;
  position: absolute;
  bottom: 0;

  .img-container {
    position: relative;
    height: 200px;

    .img-triangle {
      clip-path: polygon(0 0, 0% 100%, 100% 100%);
      background: linear-gradient(27deg, $crna 10%, transparent 80%);
      width: 100vw;
      height: 200px;
      position: absolute;
    }

    .portret {
      width: 200px;
      height: 200px;
      position: absolute;
      left: 5vw;
    }

    p{
      position: absolute;
      bottom: .2em;
      left: calc(5vw + 200px + .5em);
      color: $narandzasta;
      text-shadow: 2px 2px 4px $crna;
      font-size: .9em;
    }
  }

}

@media only screen and (min-width: 500px){
  .footer .img-container .img-triangle{
    width: 500px;
  }
}
