* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  &::selection {
    background: $narandzasta;
    color: $bela;
  }
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background: $pozadina;
  color: $crna;
}

a {
  text-decoration: none;
}

hr {
  border-top: 1px solid $crnkasta;
  border-bottom: 1px solid $siva;
}

.layout {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
