.header {
  height: 22vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#banner{
  position: relative;
  display: inline-block;
  margin-left: 1.5em;
  #milos{
    display: inline-block;
    font-family: 'Erica One', cursive;
    color: $bela;
    text-shadow: 2px 2px 4px $crna;
    font-size: 5.5em;
  }
  #kapa{
    position: absolute;
    top: 1.2em;
    left: 13.2em;
    width: 25px;
    height: 25px;
    background: url(../images/kapa.png);
    background-size: cover;
    transform: rotate(-20deg);
    transition: transform 300ms;
  }
  &:hover{
    #kapa{
      transform: translate(.5em, -.5em);
    }
  }
  #kapa-wraper{
    position: absolute;
    top: 0;
    filter: drop-shadow(1px 1px 2px $crna);
  }
  h3 {
    position: absolute;
    color: rgba($crna, .7);
    top: 5.6em;
    left: 2em;
  }
}

//za manje telefone
@media only screen and (max-width: 355px){
  #banner{
    transform: scale(.9) translateX(-1.5em);
  }
}

@media only screen and (min-width: 500px){
  .header{
    margin: $margin-over-500;

    #banner{
      margin-left: 0;
    }
  }
}
