.header {
  height: 21vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#banner {
  position: relative;
  display: inline-block;
  margin-left: 1em;
  #milos {
    font-family: "Erica One", cursive;
    // color: $narandzasta;
    color: $akcent;
    text-shadow: 1px 1px 2px $crna;
    font-size: 5.5em;
  }
  #kapa {
    position: absolute;
    top: 1.2em;
    left: 13.2em;
    width: 25px;
    height: 25px;
    background: url(../images/kapa.png);
    background-size: cover;
    transform: rotate(-20deg);
    transition: transform 300ms;
  }
  &:hover {
    #kapa {
      transform: translate(0.5em, -0.5em);
    }
  }
  #kapa-wraper {
    position: absolute;
    top: 0;
    filter: drop-shadow(1px 1px 1px $crna);
  }
  h3 {
    color: rgba($crna, 0.7);
    text-align: right;
    margin-top: -1.5em;
  }
}

//za manje telefone
@media only screen and (max-width: 380px) {
  #banner {
    transform: scale(0.9) translateX(-1.5em);
  }
}

@media only screen and (min-width: 500px) {
  .header {
    margin: $margin-over-500;

    #banner {
      margin-left: 0;
    }
  }
}

@media only screen and (min-width: 900px) {
  .header {
    margin: $margin-over-900;
  }
}
