.header {
  height: 142px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 1em;
}

#banner {
  position: relative;
  display: inline-block;
  #milos {
    font-family: "Carter One", "Open Sans";
    color: $akcent;
    text-shadow: 1px 1px 2px $crna;
    font-size: 5.8em;
    transform: translateX(-2px);
  }
  #kapa {
    width: 33px;
    height: 25px;
    background: url(../images/kapaS.png);
    background-size: cover;
    transform: rotate(-20deg);
    transition: transform 300ms;
  }
  &:hover {
    #kapa {
      transform: translate(0.5em, -0.5em);
    }
  }
  #kapa-wraper {
    position: absolute;
    top: 1.2em;
    right: 0.5em;
    filter: drop-shadow(1px 1px 1px $crna);
  }
  h3 {
    color: rgba($crna, 0.7);
    text-align: right;
    margin-top: -1.8em;
  }
}

//za manje telefone
@media only screen and (max-width: 345px) {
  #banner {
    transform-origin: left;
    transform: scaleX(0.8);
  }
}

@media only screen and (min-width: 500px) {
  .header {
    @include padding-md;

    #banner {
      margin-left: 0;
    }
  }
}

@media only screen and (min-width: 900px) {
  .header {
    @include padding-lg;
  }
}
