@import "../colors.scss";

.active-nav-item {
  // background: linear-gradient(90deg, $akcent 20%, transparent 90%);
  background: $akcent;
}

@media only screen and (min-width: 1000px) {
  .active-nav-item {
    background: rgba($crna, 0.1);
    box-shadow: inset 1px 1px 3px rgba($crna, 0.4);
    h1 {
      color: lighten($crna, 50%);
    }
  }
}
