.page-title {
  padding: 0 1em;
  width: 60vw;
  height: 2.8em;
  font-size: 0.8em;
  background: $akcent;
  color: $bela;
  text-shadow: 1px 1px 0 $crna;
}

.page-content {
  height: calc(100vh - 142px);
  overflow-y: auto;
  padding-top: 1em;

  //Microsoft Edge ignores padding-bottom
  //that's allowing us to scroll over the portrait, so:
  & > *:last-child {
    margin-bottom: 200px;
  }
  p a {
    color: $akcent2;
    // text-shadow: 0 0 1px rgba($crna, 0.5);
    font-weight: bold;
    &:hover {
      text-decoration: underline;
    }
  }
}

@media only screen and (min-width: 500px) {
  .page-title {
    @include padding-md;
    width: 50vw;
  }
}

@media only screen and (min-width: 900px) {
  .page-title {
    @include padding-lg;
    width: 50vw;
  }
}
