.page-content {
  height: 79vh;

  .content-h1 {
    height: 7%;
    padding: 0 1em;
    width: 60vw;
    background: $akcent;
    color: $bela;
    text-shadow: 1px 1px 0 $crna;
  }

  .under-h1 {
    height: 93%;
    overflow-y: auto;
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;

    //Microsoft Edge ignorise padding-bottom koji omogucava scroll iznad portreta, zato:
    & > *:last-child {
      margin-bottom: 200px;
    }
  }
  p a {
    color: $akcent2;
    // text-shadow: 0 0 1px rgba($crna, 0.5);
    font-weight: bold;
    &:hover {
      text-decoration: underline;
    }
  }
}
//za manje telefone
@media only screen and (max-width: 380px) {
  .content-h1 {
    height: 7%;
    padding: 0 1em;
    background: linear-gradient(90deg, $crna -60%, transparent 75%);
    color: $bela;
    text-shadow: 1px 1px 0 $crna;
  }
}

@media only screen and (min-width: 500px) {
  .page-content {
    .content-h1 {
      padding: $margin-over-500;
      width: 50vw;
    }
    .under-h1 {
      padding-left: 0em;
      padding-right: 0em;
    }
  }
}

@media only screen and (min-width: 900px) {
  .page-content .content-h1 {
    padding: $margin-over-900;
    width: 45vw;
  }
}

// sharing image
#milosLink {
  width: 0;
  height: 0;
}
