.page-title {
  position: relative;
  z-index: 2;
  background: $akcent;
  padding: 0 1em;
  width: 60vw;
  height: 2.8em;
  font-size: 0.8em;
  h1 {
    position: absolute;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
    color: $bela;
    @include stroke(1, $crna);
    letter-spacing: 2px;
  }
}

.page-content {
  position: relative;
  height: 100vh;
  overflow-y: auto;
  padding-top: calc(168px + 1em);

  //Microsoft Edge ignores padding-bottom
  //that's allowing us to scroll over the portrait, so:
  & > *:last-child {
    margin-bottom: 200px;
  }
  p a {
    color: $akcent2;
    // text-shadow: 0 0 1px rgba($crna, 0.5);
    font-weight: bold;
    &:hover {
      text-decoration: underline;
    }
  }
}

@media only screen and (min-width: 500px) {
  .page-title {
    @include padding-md;
    width: 50vw;
  }
}

@media only screen and (min-width: 900px) {
  .page-title {
    @include padding-lg;
    width: 50vw;
  }
}

$first-slider-width: 50px;
.slider {
  position: absolute;
  top: 0;
  right: 0;
  width: 40%;
  height: 100%;
  background: $akcent;
  animation: sliding 12s ease-in-out infinite;
}

@keyframes sliding {
  50% {
    transform: translateX(50%);
  }
}
