.about-page {
  text-align: justify;
  @include padding-sm;
  p {
    margin-bottom: 0.7em;
  }
}

@media only screen and (min-width: 500px) {
  .about-page {
    @include padding-md;
  }
}

@media only screen and (min-width: 900px) {
  .about-page {
    @include padding-lg;
    p {
      font-size: 1.2em;
    }
  }
}

@media only screen and (min-width: 1300px) {
  .about-page {
    @include padding-xlg;
  }
}
