.about-page {
  text-align: justify;
  p {
    margin-bottom: 0.7em;
  }
}

@media only screen and (min-width: 500px) {
  .about-page {
    margin: $margin-over-500;
  }
}

@media only screen and (min-width: 900px) {
  .about-page {
    margin: $margin-over-900;
    p {
      font-size: 1.2em;
    }
  }
}
