.date{
  margin-top: -1.3em;
  margin-bottom: 1.5em;
  margin-left: 1em;
  font-size: .8em;
  opacity: .8;
}
.link-to-blog-page{
  margin: 1em 0;
  color: $plava;
  font-weight: bold;
}

.blog-post-page{
  padding: 1em;
  border-radius: 5px;
  background:  rgba($bela, .3);
  box-shadow: 1px 1px 2px rgba($crna, .5);
}

//sadrzaj .md fajla
.blog-post-page{
  // "> *" - znaci da ciljamo SVU decu elementa
  .blog-post-content > * {
    margin-bottom: 1em;
  }

  .blog-post-content{
    text-align: justify;
  }
}
