.date{
  margin-top: -1.3em;
  font-size: .8em;
  margin-bottom: 1.5em;
  opacity: .8;
}
.link-to-blog-page{
  margin: 1em 0;
  color: $plava;
  font-weight: bold;
}

.blog-post-page{
  padding: 1em;
  border-radius: 15px;
  background:  rgba($bela, .3);
}

//sadrzaj .md fajla
.blog-post-page{
  // "> *" - znaci da ciljamo SVU decu elementa
  .blog-post-content > * {
    margin-bottom: 1em;
  }

  .blog-post-content{

  }
}
