.contact-page {
  text-align: justify;

  .contact-method {
    margin-bottom: 1.5em;

    &.intro h4 {
      font-weight: 300;
    }
    &.gmail a {
      pointer-events: none;
    }
  }
  .contact-method a {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    padding: 0.5em 12%;
    color: rgba($crna, 0.8);
    background: rgba($bela, 0.3);
    transition: box-shadow 250ms;
    &:hover {
      box-shadow: 1px 1px 2px rgba($crna, 0.3);
      background: rgba($bela, 0.5);
    }

    p {
      text-align: right;
    }
    b {
      color: $akcent2;
      text-shadow: 0 0 1px rgba($crna, 0.5);
      font-weight: bold;
    }
    &:hover b {
      text-decoration: underline;
    }

    .contact-img {
      filter: drop-shadow(1px 1px 1px rgba($crna, 0.5));
      min-width: 70px;
      max-width: 200px;
      &.linkedin {
        padding-left: 0.5em;
      }
    }
  }
}

@media only screen and (max-width: 420px) {
  .contact-method a {
    padding: 0.5em !important;
  }
}

@media only screen and (min-width: 500px) {
  .contact-page {
    margin: $margin-over-500;
    .contact-method a {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      min-height: 130px;
    }
  }
}

@media only screen and (min-width: 900px) {
  .contact-page {
    margin: $margin-over-900;
    h4 {
      font-size: 1.2em;
    }
    p {
      font-size: 1.1em;
    }
  }
}
