.contact-page {
  @include padding-sm;
  text-align: justify;
  .area {
    margin-bottom: 1em;
  }
}
.contact-page .area form {
  p,
  input,
  textarea,
  div {
    width: 100%;
    border: none;
  }
  p {
    margin-bottom: 1em;
  }
  input,
  textarea {
    padding: 1em;
    color: $crna;
    &:focus {
      background: rgba($akcent, 0.3);
    }
    &:input:-internal-autofill-selected {
      background-color: rgba($akcent, 0.3) !important;
    }
  }
  label {
    margin-bottom: 0.5em;
  }
  .p-btn {
    button {
      width: 100%;
      display: flex;
      justify-content: center;
      position: relative;
      background: $crna;
      padding: 2em;
      // border: 5px solid $akcent;
      border: none;
      cursor: pointer;
      div {
        width: 100px;
      }
      p {
        position: absolute;
        font-size: 3em;
        font-weight: bold;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $akcent;
      }
      transition: opacity 300ms, background 300ms;
      &:hover {
        background: $akcent;
        p {
          opacity: 0;
        }
      }
    }
  }
}

.snake-btn {
  position: relative;
  overflow: hidden;
  span {
    position: absolute;
  }
  $snake-width: 3px;
  $snake-speed: 2s;
  $snake-delay: 1s;
  $snake-color: $crna;
  span:nth-child(1) {
    background: linear-gradient(to right, transparent, $snake-color);
    top: 0;
    left: 0;
    width: 100%;
    height: $snake-width;
    animation: snakemove1 $snake-speed linear infinite;
    animation-delay: $snake-delay;
  }
  span:nth-child(2) {
    background: linear-gradient(to bottom, transparent, $snake-color);
    top: 0;
    right: 0;
    height: 100%;
    width: $snake-width;
    animation: snakemove2 $snake-speed linear infinite;
  }
  span:nth-child(3) {
    background: linear-gradient(to left, transparent, $snake-color);
    bottom: 0;
    right: 0;
    width: 100%;
    height: $snake-width;
    animation: snakemove1 $snake-speed linear infinite reverse;
    animation-delay: $snake-delay;
  }
  span:nth-child(4) {
    background: linear-gradient(to top, transparent, $snake-color);
    bottom: 0;
    left: 0;
    height: 100%;
    width: $snake-width;
    animation: snakemove2 $snake-speed linear infinite reverse;
  }
}
@keyframes snakemove1 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes snakemove2 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}

.contact-page .links {
  margin-top: 1em;
  padding: 1em;
  background: $belkasta;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  a {
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
      margin-bottom: 0.5em;
      text-align: center;
    }
    .contact-img {
      max-width: 200px;
      min-width: 50px;
    }
  }
  .space {
    padding: 0.5em;
  }
}
//     .contact-img {
//       filter: drop-shadow(1px 1px 1px rgba($crna, 0.5));
//       min-width: 70px;
//       max-width: 200px;
//     }
//   }
// }

@media only screen and (min-width: 500px) {
  .contact-page {
    @include padding-md;
  }
}

@media only screen and (min-width: 800px) {
  .contact-page {
    display: grid;
    grid-template-rows: 5;
    grid-template-columns: 1fr 1fr 1fr;
    .intro {
      grid-row: 1/2;
      grid-column: 1/4;
    }
    .form {
      grid-row: 2/6;
      grid-column: 2/4;
    }
    .links {
      grid-row: 2/6;
      grid-column: 1/2;
    }
  }
  .contact-page .area {
    margin-bottom: 0;
  }
  .contact-page .intro {
  }
  .contact-page .form {
    .p-btn {
      margin-bottom: 0;
    }
  }
  .contact-page .links {
    margin-right: 1em;
    flex-direction: column;
    justify-content: space-around;
    a {
      display: flex;
      flex-direction: column;
      .contact-img {
        margin-bottom: 0.5em;
        min-width: 70px;
      }
    }
  }
}

@media only screen and (min-width: 900px) {
  .contact-page {
    @include padding-lg;
    p > {
      font-size: 1.1em;
    }
  }
}
