.contact-page {
  @include padding-sm;
  text-align: justify;
  .area {
    margin-bottom: 1em;
  }
}
.contact-page .area form {
  p,
  input,
  textarea,
  div {
    display: block;
  }
  input,
  textarea {
    width: 100%;
    padding: 1em;
    margin-bottom: 1em;
    color: $crna;
    &:focus {
      border-color: $akcent;
    }
    &:input:-internal-autofill-selected {
      background-color: rgba($akcent, 0.5) !important;
    }
  }
  label {
    margin-bottom: 0.5em;
  }
  .p-btn {
    button {
      width: 100%;
      display: flex;
      justify-content: center;
      position: relative;
      background: $siva;
      border: none;
      cursor: pointer;
      div {
        width: 100px;
      }
      p {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 1em;
        color: $crna;
      }
    }
  }
}

.contact-page .links {
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  a {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2em;
    .contact-img {
      margin-bottom: 0.5em;
      max-width: 200px;
      min-width: 50px;
    }
  }
}
//   }
//   .contact-method a {
//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;
//     align-items: center;

//     width: 100%;
//     padding: 0.5em 12%;
//     color: rgba($crna, 0.8);
//     background: rgba($bela, 0.3);
//     transition: box-shadow 250ms;
//     &:hover {
//       box-shadow: 1px 1px 2px rgba($crna, 0.3);
//       background: rgba($bela, 0.5);
//     }

//     p {
//       text-align: right;
//     }
//     b {
//       color: $akcent2;
//       text-shadow: 0 0 1px rgba($crna, 0.5);
//       font-weight: bold;
//     }
//     &:hover b {
//       text-decoration: underline;
//     }

//     .contact-img {
//       filter: drop-shadow(1px 1px 1px rgba($crna, 0.5));
//       min-width: 70px;
//       max-width: 200px;
//       &.linkedin {
//         padding-left: 0.5em;
//       }
//     }
//   }
// }

// @media only screen and (max-width: 420px) {
//   .contact-method a {
//     padding: 0.5em !important;
//   }
// }

@media only screen and (min-width: 500px) {
  .contact-page {
    @include padding-md;
  }
}

@media only screen and (min-width: 900px) {
  .contact-page {
    @include padding-lg;
    p {
      font-size: 1.1em;
    }
  }
}
