.contact-page .links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  a {
    margin-left: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
      display: none;
    }
    .contact-img {
      background: $crna;
      width: 50px;
      height: 50px;
      transition: background 200ms;
    }
    &:hover .contact-img {
      background: $akcent;
      box-shadow: 1px 1px 2px $crna;
    }
    &:hover:active .contact-img {
      box-shadow: inset 1px 1px 3px $crna;
    }
  }
}
