.contact-page .area form {
  padding-top: .5em;
  .form-section {
    margin-top: 1.5em;
  }
  p,
  label,
  input,
  textarea {
    width: 100%;
    border: none;
  }
  input,
  textarea {
    background: none;
    font-size: 1em;
    color: $crna;
    outline: none;
  }
  textarea {
    height: 7em;
    resize: none;
  }
}

// advanced styling transitions
.contact-page .area form {
  overflow: hidden;
  .hidden {
    position: absolute;
    margin: 0;
    opacity: 0;
    width: 0;
    height: 0;
    border: none;
  }
  .form-section {
    position: relative;
    .label-box {
      position: absolute;
      bottom: 0;
      left: 0;
      border-bottom: 3px solid $crnkasta;
      pointer-events: none;
      &::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        border-bottom: 3px solid $akcent2;
        opacity: 0.6;
        transform: translateX(-101%);
        transition: transform 300ms;
      }
      .label-content {
        position: absolute;
        bottom: 100%;
        left: 0;
        transition: transform 300ms, font-size 300ms;
      }
    }
    .form-input {
      padding-bottom: 2px;
    }
  }
  .form-section .form-input:focus + .label-box .label-content,
  .form-section .form-input:valid + .label-box .label-content {
    transform: translateY(-150%);
    font-size: 0.8em;
    color: $akcent2;
  }
  .form-section.message .form-input:focus + .label-box .label-content,
  .form-section.message .form-input:valid + .label-box .label-content {
    transform: translateY(calc(-50% - 7em));
  }
  .form-section .form-input:focus + .label-box::after,
  .form-section .form-input:valid + .label-box::after {
    transform: translateX(0%);
  }
}

.contact-page .area.form .captcha-btn-container {
  position: absolute;
}

//send btn styling
.contact-page .area.form .btn-container {
  display: flex;
  justify-content: flex-end;
  margin: 1em 0;
  .send-btn {
    position: relative;
    display: flex;
    justify-content: center;
    width: 116px;
    height: 66.44px;
    background: $bela;
    border: none;
    cursor: pointer;

    .envelope-img {
      width: 100%;
    }

    p {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      top: 0;
      left: 0;
      margin: 0;
      font-size: 2.7em;
      font-weight: bold;
      width: 100%;
      height: 100%;
      color: $bela;
      background: $akcent;
      @include stroke(1, $crna);

      opacity: 0;
      transition: opacity 200ms;
    }
    &:hover p {
      box-shadow: 1px 1px 2px $crna;
      opacity: 1;
    }
    &:hover:active p {
      box-shadow: inset 1px 1px 3px $crna;
    }
  }
}
