.contact-page .area form {
  // display: flex;
  // flex-direction: column;
  // justify-content: space-between;
  // height: 100%;
  // basic styling
  p {
    //for every child in <form/>
    margin-bottom: 1.5em;
  }
  p,
  label,
  input,
  textarea {
    width: 100%;
    min-height: 1em;
    border: none;
  }
  input,
  textarea {
    background: none;
    font-size: 1em;
    color: $crna;
    outline: none;
    // &:focus {
    //   background: rgba($akcent, 0.3);
    // }
    // &:input:-internal-autofill-selected {
    //   background-color: rgba($akcent, 0.3) !important;
    // }
  }
  textarea {
    height: 7em;
    resize: none;
  }
  // advanced styling transitions
  // overflow: hidden;
  .input-p {
    position: relative;
    .label-box {
      position: absolute;
      bottom: 0;
      left: 0;
      border-bottom: 3px solid $crnkasta;
      pointer-events: none;
      &::after {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        border-bottom: 3px solid $akcent2;
        transform: translateX(-100%);
      }
      .label-content {
        position: absolute;
        // top: 100%;
        top: 0;
        left: 0;
      }
    }
    .form-input {
      padding-bottom: 2px;
    }
  }
  .input-p .form-input:focus + .label-box .label-content,
  .input-p .form-input:valid + .label-box .label-content {
    transform: translateY(-150%);
    font-size: 0.8em;
    color: $akcent2;
  }

  .input-p .form-input:focus + .label-box::after,
  .input-p .form-input:valid + .label-box::after {
    transform: translateX(0%);
  }
  // .input-p .form-input:focus + .label-box {
  //   border-color: $akcent2;
  // }
}

.contact-page .area form .captcha-btn-container {
  display: flex;
  justify-content: space-between;
}

//send btn styling
.contact-page .area form .p-btn {
  .send-btn {
    position: relative;
    display: flex;
    justify-content: center;
    width: 116px;
    background: $bela;
    border: none;
    cursor: pointer;
    .envelope-img {
      width: 100%;
    }
    p {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2.7em;
      font-weight: bold;
      width: 100%;
      height: 100%;
      color: $bela;
      background: $akcent;
      // stroke the text with text-shadow
      text-shadow: 1px 1px 1px $crna, -1px -1px 1px $crna, -1px 1px 1px $crna,
        1px -1px 1px $crna;

      opacity: 0;
    }
    transition: opacity 200ms, background 200ms;
    &:hover {
      box-shadow: 1px 1px 2px $crna;
      background: transparent;
      .envelope-img {
        opacity: 0;
      }
      p {
        opacity: 1;
      }
    }
  }
}

@media only screen and (min-width: 800px) {
  .contact-page .form .p-btn {
    margin-bottom: 0;
  }
}
