.home-page {
  text-align: justify;

  h1 {
    margin-bottom: 0.5em;
    color: $akcent;
    // text-shadow: 1px 1px rgba($crna, 0.5);
  }
  p {
    font-size: 1.1em;
    i {
      opacity: 0.6;
    }
  }
}

@media only screen and (min-width: 500px) {
  .home-page {
    margin: $margin-over-500;
  }
}

@media only screen and (min-width: 900px) {
  .home-page {
    margin: $margin-over-900;
    h1 {
      font-size: 1.9em;
    }
    p {
      font-size: 1.3em;
    }
  }
}
