.home-page {
  text-align: justify;
  @include padding-sm;

  h1 {
    margin-bottom: 0.5em;
    color: rgba($crna, 0.7);
  }
  p {
    font-size: 1.1em;
    i {
      opacity: 0.6;
    }
  }
}

@media only screen and (min-width: 500px) {
  .home-page {
    @include padding-md;
  }
}

@media only screen and (min-width: 900px) {
  .home-page {
    @include padding-lg;
    h1 {
      font-size: 1.9em;
    }
    p {
      font-size: 1.3em;
    }
  }
}
