.projects-page {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  .project {
    margin-bottom: 20px;
    overflow: hidden;
    width: 100%;
    box-shadow: 1px 1px 1px rgba($crna, 0.5);
    background: $belkasta;
    text-align: justify;
    a {
      color: rgba($crna, 0.8);
    }
    &:hover {
      box-shadow: 1px 1px 4px rgba($crna, 0.5);
      background: rgba($bela, 0.6);
      .project-img span {
        transform: translateX(100%);
      }
    }

    .project-img {
      position: relative;
      overflow: hidden;
      max-width: 100%;
      max-height: 220px;
      span {
        position: absolute;
        top: 0;
        left: -120%;
        right: 0;
        bottom: 0;
        background: linear-gradient(
          120deg,
          transparent,
          transparent 20%,
          // $belkasta 20%,
            // $belkasta 22%,
            $crnkasta 20%,
          $crnkasta 30% // rgba($crna, 0.5) 50%
        );
        transition: transform 500ms;
      }
    }
    p {
      padding: 1em;
    }
  }
}

@media only screen and (min-width: 500px) {
  .projects-page {
    flex-direction: row;
    margin: $margin-over-500;
    .project {
      width: calc(1 / 2 * 100% - (1 - 1 / 2) * 20px);
    }
  }
}

@media only screen and (min-width: 900px) {
  .projects-page {
    margin: $margin-over-900;
    .project {
      p {
        padding: 1.2em;
        font-size: 1.1em;
      }
    }
  }
}
