$bela: #fff;
$belkasta: rgba($bela, 0.2);
$crna: #393939;
$crnkasta: rgba($crna, 0.2);
$siva: #a66249;
$akcent: #f2b90f;
$akcent2: #bf2431;
$pozadina: #f2f2f2;

//margina sadrzaja na ekranima preko X sirine
$margin-over-500: 0 10vw;
$margin-over-900: 0 15vw;
