$bela: #fff;
$belkasta: rgba($bela, 0.2);
$crna: #393939;
$crnkasta: rgba($crna, 0.2);
$siva: #a66249;
$akcent: #f2b90f;
$akcent2: #bf2431;
$pozadina: #f2f2f2;

//padding
@mixin padding-sm {
  $var: 1em;
  padding-left: $var;
  padding-right: $var;
}

@mixin padding-md {
  $var: 10vw;
  padding-left: $var;
  padding-right: $var;
}

@mixin padding-lg {
  $var: 15vw;
  padding-left: $var;
  padding-right: $var;
}

@mixin padding-xlg {
  $var: 22vw;
  padding-left: $var;
  padding-right: $var;
}

@mixin stroke($stroke-width, $stroke-color) {
  text-shadow: #{$stroke-width}px #{$stroke-width}px $stroke-color,
    -#{$stroke-width}px #{$stroke-width}px $stroke-color,
    #{$stroke-width}px -#{$stroke-width}px $stroke-color,
    -#{$stroke-width}px -#{$stroke-width}px $stroke-color;
}
