$bela: #fdfffe;
$crna: #160015;
$siva: #a8a7ac;
$oker: #93621d;
$narandzasta: #ea7e24;
$lila: #f3c8dd;
$cigla: #a53e3f;
$plava: #2d517a;

//margina sadrzaja na ekranima preko 500px

$margin-over-500: 0 10vw;
