@import './colors.scss';
@import url('https://fonts.googleapis.com/css?family=Erica+One|Open+Sans');

// font-family: 'Erica One', cursive;
// font-family: 'Open Sans', sans-serif;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: linear-gradient($siva , $bela);
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.layout {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.header {
  height: 23vh;
  padding-bottom: 1.5em;
}

#banner{
  position: relative;
  margin-left: 1.5em;
  #milos{
    font-family: 'Erica One', cursive;
    color: $bela;
    text-shadow: 1px 1px 4px $crna;
    font-size: 5.5em;
  }
  #kapa{
    position: absolute;
    // polygon, animacija, background

    top: 0;
    left: 0;
  }
  h3 {
    position: absolute;
    color: $crna;
    top: 5.6em;
    left: 2em;
  }
}

#nav {
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: rgba(0,0,0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  a{
    text-decoration: none;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: $bela;
    text-shadow: 1px 1px 4px $crna;
    &:hover{
      box-shadow: inset 0 0 20px $crna;
    }
  }
  transition: transform 300ms;
  //off stanje / uvucen meni / trougao ima klasu "off"
  transform: translateX(100vw);
}
#nav.on{
  transform: translateX(0);
}

//off stanje
#trougao {
  z-index: 4;
  position: absolute;
  top: 0;
  right: 0;
  clip-path: polygon(0 0, 100% 0%, 100% 100%);
  width: 100px;
  height: 150px;
  background: linear-gradient($narandzasta, $cigla 60%);

  #crta, #crta::after, #crta::before{
    content: ' ';
    position: absolute;
    background: $crna;
    opacity: .85;
    width: 50px;
    height: 6px;
    border-radius: 2px;
    transition: transform 300ms, opacity 150ms, width 150ms;
  }

  #crta {
    top: 2.3em;
    right: 0.7em;
    transform: rotate(56.31deg);
    &::before{
      transform: translateY(-0.7em);
    }
    &::after{
      transform: translateY(0.7em);
    }
  }
}
#trougao.on {
  #crta {
    transform: rotate(45deg);
    &::before{
      transform: rotate(-90deg);
    }
    &::after{
      transform: translate(-5.5em, 2em) rotate(11.31deg);
      width: 220px;
      opacity: .6;
    }
  }
}

.page-content{
  height: 77vh;
  h1{
    height: 7%;
    padding: 0 1em;
    background: rgba(0,0,0, .1);
    color: rgba(0,0,0, .5);
  }
  .under-h1{
    height: 93%;
    overflow-y: auto;
    padding-bottom: 220px;
    background: rgba(255,255,255, .3);
  }
  p{
    margin: 1em 0 0 2.5em;
    padding-right: 1.5em;
    color: $crna;
  }
}

.footer {
  z-index: 2;
  position: absolute;
  bottom: 0;
}

.img-container{
  position: relative;
  height: 200px;
}

.img-triangle {
  clip-path: polygon(0 0, 0% 100%, 100% 100%);
  background: linear-gradient(27deg, $crna 20%, transparent 150%);
  width: 100vw;
  height: 200px;
  position: absolute;
}

img {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 5vw;
}
