@import url('https://fonts.googleapis.com/css?family=Erica+One|Open+Sans:600');

// font-family: 'Erica One', cursive;
// font-family: 'Open Sans', sans-serif;

$bela: #fdfffe;
$crna: #160015;
$siva: #a8a7ac;
$oker: #93621d;
$narandzasta: #ea7e24;
$lila: #f3c8dd;
$cigla: #a53e3f;
$plava: #2d517a;

* {
  box-sizing: border-box;
}
body {
  background: $siva;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.layout {

}

.header {
  padding-bottom: 1em;
}

#milos{
  font-family: 'Erica One', cursive;
  color: $bela;
  text-shadow: 1px 1px 4px $crna;
  font-size: 5.5em;
  margin: 0 10px;
}

h3 {
  position: absolute;
  top: 4.8em;
  left: 2.4em;
}

#nav {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: rgba(0,0,0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  a{
    text-decoration: none;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: $bela;
    text-shadow: 1px 1px 4px $crna;
  }
  transition: transform 300ms;
  //off stanje / uvucen meni / trougao ima klasu "navOff" ***
  transform: translateX(100vw);
}
#nav.navOn{
  transform: translateX(0);
}

//off stanje
#trougao {
  z-index: 3;
  position: absolute;
  top: 0;
  right: 0;
  clip-path: polygon(0 0, 100% 0%, 100% 100%);
  width: 100px;
  height: 150px;
  background: linear-gradient($narandzasta, $cigla 60%);

  #crta, #crta::after, #crta::before{
    content: ' ';
    position: absolute;
    background: $crna;
    opacity: .9;
    width: 50px;
    height: 6px;
    border-radius: 2px;
    transition: transform 300ms, width 150ms;
  }

  #crta {
    top: 2.3em;
    right: 0.7em;
    transform: rotate(56.31deg);
    &::before{
      transform: translateY(-0.7em);
    }
    &::after{
      transform: translateY(0.7em);
    }
  }
}
#trougao.navOn {
  #crta {
    transform: rotate(45deg);
    &::before{
      transform: rotate(-90deg);
    }
    &::after{
      transform: translate(-4.4em, 2em) rotate(11.31deg);
      width: 200px;
    }
  }
}

.footer {
  position: absolute;
  bottom: 0;
}

.img-container{
  position: relative;
  height: 200px;
}

.img-triangle {
  clip-path: polygon(0 0, 0% 100%, 100% 100%);
  background: $crna;
  width: 100vw;
  height: 200px;
  position: absolute;
}

img {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 5vw;
}
