@import '../styles/colors.scss';

.active-nav-item {
  background: $cigla;
  color: white;
}

.nav {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: rgba(0,0,0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  a{
    text-decoration: none;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: $bela;
    text-shadow: 1px 1px 4px $crna;
  }
  transition: transform 300ms;
  //off stanje / uvucen meni / trougao ima klasu "navOff" ***
  transform: translateX(100vw);
}
.nav.on{
  transform: translateX(0);
}
